<div class="container">
  <div class="row">
    <!-- Carousel -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <%=  image_tag("carousel1.jpg")  %>
          <!-- Static Header -->
          <div class="header-text hidden-xs">
            <div class="col-md-12 text-center">

              <br>

              <br>

            </div>
          </div><!-- /header-text -->
        </div>
        <div class="item">
        <%=  image_tag("carousel2.jpg")  %>
          <!-- Static Header -->
          <div class="header-text hidden-xs">
            <div class="col-md-12 text-center">


              <br>

            </div>
          </div><!-- /header-text -->
        </div>
        <div class="item">
          <%=  image_tag("carousel3.jpg")  %>
          <!-- Static Header -->
          <div class="header-text hidden-xs">
            <div class="col-md-12 text-center">



              <br>

            </div>
          </div><!-- /header-text -->
        </div>

        <div class="item">
          <%=  image_tag("carousel4.jpg")  %>
          <!-- Static Header -->
          <div class="header-text hidden-xs">
            <div class="col-md-12 text-center">



              <br>

            </div>
          </div><!-- /header-text -->
        </div>

        <div class="item">
          <%=  image_tag("carousel5.jpg")  %>
          <!-- Static Header -->
          <div class="header-text hidden-xs">
            <div class="col-md-12 text-center">



              <br>

            </div>
          </div><!-- /header-text -->
        </div>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div><!-- /carousel -->
  </div>
</div>


<div>
  <div class="recipe-of-the-day">
    <h2 class="center"><i class="em em-fire"></i><a href="/recipes/preview/<%= @recipe_of_the_day['id'] %>"><%= @recipe_of_the_day['title'] %></a><i class="em em-fire"></i></h2>
  </div>
      <% if logged_in? %>
      <h2 class="center">Recipes found with your ingredients:</h2>
      <% end %>

  <div id="home-grid" class="grid center" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>

    <div class="contain" style="width:80%">
      <% @recipes.each do |recipe| %>
      <div>
        <div class="thumbnail grid-item">
          <div class="caption" style="height: auto;">
          	<div>
              <a href="/recipes/preview/<%= recipe['id'] %>"><img src="<%= recipe['image'] %>" style="width: 80%; height: auto";></a>

            </div>

            <div>
              <small class="left">Check it out!</small>
              <h3 class="left"><a href="/recipes/preview/<%= recipe['id'] %>"><%= recipe['title'] %></a></h3>
              <h5 class="left">
                <% if logged_in? %>
                <p>Used Ingredients: <%= recipe["usedIngredientCount"] %></p>
                <p>Missing Ingredients: <%= recipe["missedIngredientCount"] %></p>
                <% end %>

              </h5>
            </div>

          </div>
        </div>


        <br>
      </div>
      <% end %>
    </div>
  </div>
