<script>
    window.fbAsyncInit = function () {
        FB.init({appId: '676197535871171', xfbml: true, version: 'v2.7'});
    };

    (function (d, s, id) {
        var js,
        fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) { return; } js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
</script>
<div class="contain">
    <div class="row">
        <div class="col-sm-4 col-lg-4 col-md-4 title-div">
            <h1><%= @ingredients['title'] %></h1>
        </div>
        <div class="col-sm-8 col-lg-8 col-md-8">
            <img class="preview-image" style="border: 2px solid black;" src="<%= @ingredients["image"] %>">
        </div>
    </div>
    <br>
    <div class="center">
        <ul class="recipe-nav">
            <li>
                <h6>span class="fa fa-share-alt"></span>
                  <div class="fb-share-button active" data-href="http://www.forked-api.herokuapp.com/recipes/<%= params[:id] %>"
  	            	data-layout="button_count">
  	              </div>
            </h6>
        </li>
        <% if logged_in? %>
        <li>
            <h6>
                <a class="active" href="#like">
                    <span class="fa fa-thumbs-up"></span>
                    Like it</a>
            </h6>
        </li>
        <li>
            <h6>
                <a href="#made">
                    <span class="fa fa-spoon"></span>
                    Made It</a>
            </h6>
        </li>
        <li>
            <h6>
                <a href="#print">
                    <span class="fa fa-cutlery"></span>
                    Fork it</a>
            </h6>
        </li>
        <% end %>
    </ul>
</div>

<div class="row">
    <div class="col-sm-6 col-lg-6 col-md-6 left">
        <h3 class="ingredients-div">Ingredients</h3>
    </div>
</div>

<div class="ingredient-list">
    <% @ingredients["extendedIngredients"].each do |ingredient| %>
    <div class="col-sm-6 col-lg-6 col-md-6">
        <div class="row">
            <div class="col-sm-1 col-lg-1 col-md-1 left">
                <span class="fa-stack fa-lg ingredient-check">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-plus fa-stack-1x"></i>
                </span>
            </div>
            <div class="col-sm-11 col-lg-11 col-md-11 left">
                <h4 class=""><%= ingredient["originalString"] %></h4><br>
            </div>
        </div>
    </div>
    <% end %>
</div>

<div class="row">
    <div class="col-sm-6 col-lg-6 col-md-6 left">
        <h3 class="directions-div">Directions</h3>
    </div>

    <div class="col-sm-6 col-lg-6 col-md-6 right">
        <h4>
            <span class="fa fa-clock-o"></span>
            Ready in
            <%= @ingredients['readyInMinutes']%>
            Minutes
        </h4>
    </div>
</div>

<% if @error %>
<%= @error %>
<% else %>
<% @recipe.each do |step| %>
<div class="row">
    <div class="col-sm-1 col-lg-1 col-md-1 left" style="padding-left: 30px;">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="directions fa-stack-1x"><%= step['number'] %></i>
        </span>
    </div>
    <div class="col-sm-11 col-lg-11 col-md-11 left">
        <h4 id="<%= step['number']  %>"><%= step['step'] %></h4><br>
    </div>
</div>

<% end %>
<% end %>
</div>
