<h2 class="center">Search Results:</h2>
<div class="contain">
  <div>
  <div class="grid center" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
    <% @recipes.each do |recipe| %>
      <div>
        <div class="thumbnail grid-item">
          <div class="caption" style="height: auto;">
            <div>
              <img src="<%= recipe['image'] %>" style="width: 80%; height: auto";>
            </div>

            <div>
              <small class="left">Check it out!</small>
              <h3 class="left"><a href="/recipes/preview/<%= recipe['id'] %>"><%= recipe['title'] %></a></h3>
              <h5 class="left">
                <% if logged_in? %>
                  <p>Used Ingredients: <%= recipe["usedIngredientCount"] %></p>
                  <p>Missing Ingredients: <%= recipe["missedIngredientCount"] %></p>
                <% end %>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star-half-o"></span>
                <span class="fa fa-star-o"></span>
              </h5>
            </div>

          </div>
        </div>


        <br>
      </div>
    <% end %>
    </div>
  </div>
