<div class="contain">
  <div class="row">
  	<div class="col-sm-4 col-lg-4 col-md-4">
  		<h1><%= @recipe.title %></h1>
  		<span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star-half-o"></span>
        <span class="fa fa-star-o"></span>
  		<h3>Reciped Submitted by: <small><%= User.find(UserRecipe.find(@recipe.id).user_id).name %></small></h3>
  		<p><span class="fa fa-heart"></span> <%= rand(1..100) %>&nbsp;&nbsp;
          <span class="fa fa-cutlery"></span> <%= rand(1..100) %></p>
	</div>
	<div class="col-sm-8 col-lg-8 col-md-8">
		<img src="<%= Recipe.find(@recipe.id).image %>">
	</div>
  </div>

	  <ul class="recipe-nav">
		  <li><h4><a class="active" href="#home">Like</a></h4></li>
		  <li><h4><a href="#news">I Made It</a></h4></li>
		  <li><h4><a href="#contact">Review</a></h4></li>
		  <li><h4><a href="#about">Print</a></h4></li>
	</ul>


</div>