<div class="user-profile-top">
  <div class="user-image left">
    <% if current_user.img_url %>
      <img src="<%= current_user.img_url %>" height="200" width="200"  style="border: black solid 2px;";>
    <% else %>
      <img src="http://sd.keepcalm-o-matic.co.uk/i/keep-calm-my-profile-picture-is-under-construction.png" height="50" width="50">
    <% end %>
  </div>

  <div class="user-information center">
    <h3><%= current_user.name %></h3>
    <p>Place holder for chef score</p>
    <p>Place holder for favorite meal</p>
    <p>Recipe count: <%= current_user.recipes.count %></p>
  </div>
</div>

<div class="user-profile-bottom">
  <div class="user-friend-list">
  </div>

  <div class="user-ingredients">
    <%= form_for(:ingredient, :url => ingredients_path) do |f|%>
      <%= f.text_field :ingredient, placeholder: "Enter new ingredient" %>
      <%= submit_tag ("Add")%>
    <% end %>

    <div class="user-fridge">
      <h4>My Ingredients:</h4>
        <% current_user.ingredients.each do |ingredient| %>

          <div class="ingredient-item">
            <img class="ingredient-image" src="<%= ingredient.image %>" value="<%= ingredient.name %>">
            <p id="ingredient-<%= ingredient.name %>" style="display: none;";><%= ingredient.name %></p>
          </div>
        <% end %>

    </div>
  </div>

  <div class="user-recipes">
    <h4>Saved Recipes:</h4>
    <% current_user.recipes.each do |recipe| %>
        <div class="saved-recipe-list">
          <img src="<%= recipe.image %>">
          <p class="recipe-name"><%= recipe.title %></p>
        </div>
      <% end %>
  </div>


</div>
