<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <% if @user.image %>
                <img src="<%= @user.image %>"  style="border: black solid 2px; " ;>
            <% else %>
                <img src="http://sd.keepcalm-o-matic.co.uk/i/keep-calm-my-profile-picture-is-under-construction.png" height="500" width="500">
        <% end %>
        </div>

        <div class="col-sm-8 col-md-8  col-lg-8">
        <h3><%= @user.name %></h3>
        <h4>Chef Score: <%= @user.chef_score %></h4>
        <h1><%#= Recipe.where(user_id: @user.id).length %></h1>
        <h1><%#= Recipe.where(user_id: @user.id) %></h1>
        </div>
    </div>


     <% if logged_in? %>
          <% if @user != current_user && @user.friends.include?(current_user)%>
            <%= button_to "Unfriend", {:controller => :friendships,
              :action => 'destroy', :id => @user.id },  :class => 'btn btn-primary', :method => :delete %>
          <% elsif @user == current_user %>
          <% else%>
            <%= button_to "Add friend", {:controller => :friendships,
              :id => @user.id},  :class => 'btn btn-primary', :method => :post %>
          <% end %>
        <% end %>

    <hr>
    <div class="row">
         <div class="col-sm-3 col-md-3 col-lg-3">
            <h1>Friends </h1>
         </div>
         <div class="col-sm-3 col-md-3 col-lg-3">
             <h1>My Ingredients</h1>
         </div>
         <div class="col-sm-3 col-md-3 col-lg-3">
             <h1> My Forked recipes</h1>
         </div>
         <div class="col-sm-3 col-md-3 col-lg-3">
            <h1>My recipes</h1>
         </div>
    </div>




</div>
