<div class="user-profile-top">
    <div class="user-image left">
        <% if @user.image %>
            <img src="<%= @user.image %>" height="500" width="500" style="border: black solid 2px;" ;>
        <% else %>
            <img src="http://sd.keepcalm-o-matic.co.uk/i/keep-calm-my-profile-picture-is-under-construction.png" height="500" width="500">
        <% end %>
    </div>
    <div class="container">
      <div class="row">
    <div class="user-information col-sm-4">
        <h3><%= @user.name %></h3>
        <p>Place holder for chef score</p>
        <p>Place holder for favorite meal</p>
        <p>Recipe count:
            <%= @user.recipes.count %></p>
    </div>
</div>

<div class="user-profile-bottom">
    <div class="user-friend-list">
        <div class="form-group">
            <% if current_user.id == @user.id %>
              <%= form_tag friendships_path, :method => 'get', :class => "navbar-form navbar-left" do %>
              <p>
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag "Find Friends", :name => nil %>
              </p>
              <% end %>
            <% end %>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="user-ingredients">
                <div class="user-fridge col-sm-4">
                    <div class="fridge-list">
                        <h4>My Ingredients:</h4>
                        <div >
                            <% if current_user.id == @user.id %>
                                <%= form_for(:ingredient, :url => ingredients_path, :html => {
                                :id => 'ingredient-form'}) do |f|%>
                                <%= f.text_field :ingredient, placeholder: "Enter new ingredient" %>
                                <%= submit_tag ("Add"), :id => 'ingredient-add'%>
                                <% end %>
                            <% end %>
                        </div>
                        <div class="ingredients-list">
                            <% @user.ingredients.each do |ingredient| %>

                            <div class="ingredient-item">
                                <img class="ingredient-image" src="<%= ingredient.image %>" value="<%= ingredient.name %>">
                                <div class="ingredient-name">
                                    <p><%= ingredient.name %></p>
                                </div>
                                <% if current_user.id == @user.id %>
                                    <div class="ingredient-delete">
                                        <%= button_to "X", {:controller => :ingredients, :action => 'destroy', :id => ingredient.id }, :method => :delete %>
                                    </div>
                                <% end %>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="user-recipes">
        <h4>My Forks:</h4>
        <div class="saved-recipe-list">
        <% @user.recipes.each do |recipe| %>
            <img style="width:10%" src="<%= recipe.image %>">
            <a href="/recipes/preview/<%= recipe.spoon_id  %>"><%= recipe.title %></a>
        </div>
        <% end %>
    </div>

</div>
