<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1><%= @ingredients['title'] %></h1><br>
        <img style="border:8px solid black;" src="<%= @ingredients['image'] %>" alt="<%= @ingredients['title'] %>"/>
        <p>Ready in: <%= @ingredients['readyInMinutes'] %> minutes</p>
        <div style="border:8px solid black;">
            <%@ingredients["extendedIngredients"].each do |ingredient| %>
            <li><%= ingredient["originalString"] %></li>
        </div>
        <% end %>
        <h2></h2>
        <div style="border:8px solid black;">
          <% @recipe.each do |recipe| %>
        </div>

    </body>
</html>
