<!DOCTYPE html>
<html>
  <head>
    <title>Forked!</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">


    <!-- Including ajax file -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="https://npmcdn.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
    <!-- or -->
    <!-- <script src="https://npmcdn.com/masonry-layout@4.1/dist/masonry.pkgd.js"></script> -->



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  <% if logged_in? %>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Forked</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Sign Out", '/sign_out', method: :delete %></li>
        </ul>


        <ul class="nav navbar-nav navbar-right" style="margin-top: 1em">
          <% if current_user.image %>
            <li><img id="small-fb-image"  src="<%= current_user.image %>"></li>
          <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "#{current_user.name}", user_path(current_user) %></li>
        </ul>


         <ul class="nav navbar-nav navbar-right">
          <li><a href="/recipes/new"><span class="fa fa-plus"></span> Create New Recipe </a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/recipes/search"><span class="fa fa-search"></span> Find Recipes </a></li>
        </ul>



      </div>
    </div>
  </nav>



    <% else %>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Forked</a>
      </div>


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        </ul>




        <ul class="nav navbar-nav navbar-right">
          <li><a href="/auth/facebook" data-toggle="modal" data-target="#Login">Sign In</a></li>
        </ul>


        <ul class="nav navbar-nav navbar-right">
          <li><a href="/recipes/search"><span class="fa fa-search"></span> Find Recipes </a></li>
        </ul>


      </div>
    </div>
  </nav>


  <div class="container">

  <div class="modal fade" id="Login" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header center"  style="padding:35px 50px;">
          <button type="button" class="close white" data-dismiss="modal">&times;</button>
          <h1 class="modal-title">Forked</h1>
        </div>

        <div class="modal-body">
           <form role="form">
            <div class="form-group">
              <label for="email"><span class="fa fa-user"></span> Email</label>
              <input type="text" class="form-control" id="email" placeholder="Enter email">
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="text" class="form-control" id="password" placeholder="Enter password">
            </div>


              <button type="submit" class="btn btn-success btn-block">Login</button><br>

              <h4 class="center">Or</h4>

              <a href="/auth/facebook" role="button" class="btn btn-primary btn-block"><span class="fa fa-facebook-official"></span> Log in with Facebook</a>
          </form>
        </div>

        <div>

        </div>
        <div class="modal-footer">
          <p>No Facebook Account?<a href="#"> Sign Up Here </a></p>
        </div>
      </div>

    </div>
  </div>

</div>


     <!--  <a class="btn btn-primary btn-lg" href="/auth/facebook" role="button"><span class="fa fa-facebook-official"></span> Log in with Facebook</a> -->
    <% end %>
    <%= yield %>


  </body>
</html>
