<!DOCTYPE html>
<html>
  <head>
    <title>Forked!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <h3><%= current_user.name %></h3>
      <%= p @auth %>
      <%= image_tag(@auth['info']['image'] if @auth) %>
      <%= link_to "Sign Out", 'sign_out', method: :delete %>
    <% else %>
      <%= link_to "Sign in with Facebook", "auth/facebook" %>
    <% end %>

    <%= yield %>

  </body>
</html>
